html {
	font-size: 16pt;
}

.app-content a {
	background-color: transparent;
	border: 1px dashed #000 !important;
	border-radius: 4px;
	padding: 2px 4px;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
}

.app-content a:hover {
	border-color: rgb(13, 110, 253) !important;
	background-color: rgb(13, 110, 253) !important;
	color: white !important;
}

.card-header {
	background-color: #dedfe4 !important;
	color: #000;
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
}

.card-body {
	line-height: 2.1rem;
	padding: 0.5rem;
}

.skip-link {
	top: -50px;
}
